// Import обнуляющих стилей
@import "nullstyle";

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

// Import шрифта из локальной папки
@font-face {
  font-family: 'ConvCentaurMT';
  src: url('../fonts/CentaurMT-ItalicAlternate.eot');
  src: local('☺'), url('../fonts/CentaurMT-ItalicAlternate.woff') format('woff'), url('../fonts/CentaurMT-ItalicAlternate.ttf') format('truetype'), url('../fonts/CentaurMT-ItalicAlternate.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables для цвета
$color_1: #dc7129;
$color_2: #193178;
$color_3: #c9ff9d;

// Variables для размера шрифта
$size_1: 100px;

// Variables для высоты строки

// Variables для внешнего отступа

// Variables для внутреннего отступа

// Template flex 2-columns grid

// Template flex 3-columns grid

// Template выравнивания текста по центру по вертикали

// Template выравнивания текста меню
%template1 {
  line-height: 50px;
  height: 50px;
}

// Template выравнивания блока по центру
%template2 {
  margin: 0 auto;
}

// Template линейный градиентный фон
%template3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8', endColorstr='#b7df2d', GradientType=0); /* IE6-9 */
}

// Mixin размер и цвета шрифта
@mixin link_font_size($f,$c) {
  font-size: $f;
  color: $c;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

body {
  padding: 30px 40px;
}

h1 {
  font-family: 'Orelega One', cursive;
  font-size: 50px;
  font-weight: bold;
}

// Общий контейнер макета
.container {
  @extend %template2;
}

// Ссылка
.example-link {
  @include link_font_size(40px, $color_1);
  @extend %template1;

  &:hover {
    color: $color_2;
    font-size: 40px;
    text-decoration: underline;
  }

  &:active {
    color: #aee509;
  }
}

.gradient {
  @extend %template3;
}

.imagebackground {
  background: url('../img/bootstrap-social-logo.png') 50%/cover no-repeat;
  height: 300px;
  width: 700px;
}

.textinput {
  border: 1px solid $color_2;
  margin-left: 20px;
  padding: 15px 10px;
  min-width: 300px;

  &:focus {
    box-shadow: 0 0 10px rgba(23, 213, 170, 0.7);
  }
}

.list {
  li {
    margin: 0 20px 0 0;

    &:first-child {
      color: #9114c4;
    }

    &:last-child {
      font-weight: 800;
    }

    &:nth-child(3) {
      font-size: 20px;
    }

    &:before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      background-color: #dc7129;
      width: 10px;
      height: 10px;
    }

    &:hover:before {
      background-color: #14a1c4;
    }
  }
}

.buttonsubmit {
  margin: 10px 30px;
  padding: 10px 15px;

  &:hover {
    background: #9114c4;
    color: #f8ffe8;
  }
}

.text {
  &:first-line {
    color: #14a1c4;
  }

  &:first-letter {
    color: #9114c4;
    font-size: 60px;
  }
}

.position-relative {
  border: 3px solid #9114c4;
  margin: 0 auto;

  div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
}

.relative1 {
  background-color: #e89b64;
}

.relative2 {
  background-color: #9be864;
  position: relative;
  top: 10px;
  left: 10px;
}

.relative3 {
  background-color: #64c9e8;
}

.position-absolut {
  border: 3px solid #c44614;
  margin: 0 auto;
  position: relative;

  div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
}

.absolut1 {
  background-color: #a2e864;
}

.absolut2 {
  background-color: #8164e8;
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: -1;
}

.absolut3 {
  background-color: #e89d64;
}

.position-fixed {
  border: 3px solid #953b17;
  margin: 0 auto;

  div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
}

.fixed1 {
  background-color: #468012;
}

.fixed2 {
  background-color: #2e87a3;
  width: 100%;
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 2;
}

.fixed3 {
  background-color: #e89d64;
}

.position-sticky {
  border: 3px solid #c44614;
  margin: 0 auto;

  div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
}

.sticky1 {
  background-color: #386ef6;
}

.sticky2 {
  height: 80px;
  background-color: #e464e8;
  position: sticky;
  top: 0;
}

.sticky3 {
  background-color: #64e8d4;
}

.textstyle1 {
  margin: 0 0 30px 0;
  font-family: 'Orelega One', cursive;
  font-size: 30px;
}

.textstyle2 {
  margin: 0 0 30px 0;
  font-family: 'ConvCentaurMT', sans-serif;
}

// Flex-контейнер
.block__row {
  border: 10px solid $color_1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

// Flex-элемент
.block__column {
  border: 10px solid $color_2;
  //flex-grow: 0;
  //flex-shrink: 1;
  //flex-basis: auto;
  flex: 0 1 auto;
}

// Контент Flex-элемента
.block__item {
  background-color: $color_3;
  padding: 50px;
  font-size: 50px;
  font-weight: bold;
}